@model TopMovies;

@{
    ViewData["Title"] = "Movies";
}

<link rel="stylesheet" href="~/css/site.css"/>
@using (Html.BeginForm("PopularMovies", "Movie", FormMethod.Post))
{
    <div>
        <h2>
            Popular Movies
            <a style="font-size: 20px; margin-right: 0" href="/movie/popular/1">View more...</a>
        </h2>
        <table class="styled-table clickable">
            <thead>
            <tr>
                <th></th>
                <th>Movie</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            @{var i = 1;}
            @foreach (var movie in Model.Popular)
            {
                <tr onclick="showDetails(@movie.Id)">
                    <td>@i     @{i++;
                                 }</td>
                    <td>
                        @movie.Title
                    </td>
                    <td>@movie.ReleaseDate</td>
                    <td>@movie.VoteAverage</td>
                    <td>@movie.VoteCount</td>
                </tr>
            }
            </tbody>
        </table>
        <h2> Top Revenue Movies </h2>
        <table class="styled-table clickable">
            <thead>
            <tr>
                <th></th>
                <th>Movie</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            @{ i = 1;}
            @foreach (var movie in Model.TopRevenue)
            {
                <tr onclick="showDetails(@movie.Id)">
                    <td>@i     @{i++;
                                 }</td>
                    <td>
                        @movie.Title
                    </td>
                    <td>@movie.ReleaseDate</td>
                    <td>@movie.VoteAverage</td>
                    <td>@movie.VoteCount</td>
                </tr>
            }
            </tbody>
        </table>
        <h2> Most Recent Movies </h2>
        <table class="styled-table clickable">
            <thead>
            <tr>
                <th></th>
                <th>Movie</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            @{i = 1;}
            @foreach (var movie in Model.Recent)
            {
                <tr onclick="showDetails(@movie.Id)">
                    <td>@i     @{i++;
                                 }</td>
                    <td>
                        @movie.Title
                    </td>
                    <td>@movie.ReleaseDate</td>
                    <td>@movie.VoteAverage</td>
                    <td>@movie.VoteCount</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <input type="hidden" id="hfCurrentPageIndex" name="pageNumber"/>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript">
    function showDetails(movieId) {
        console.log(movieId);
        window.location.href = '/movie/details/' + movieId;
    }
    
    function PagerClick(index) {
        console.log(index)      
        document.getElementById("hfCurrentPageIndex").value = index;
        console.log(index);
        window.location.href = '/movie/popular/' + index;
   }
</script>